* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
}

#box {
    height: 5em;
    width: 5em;
    background: red;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 515px;
    left: 50px;
}


